extends _main

block content
  content#About.container
    page-header ABOUT
    section.container
      text#page-text.wrapper
        a(class='anchor', href='#what-is-rainbot'): h2 What is RainBot?
        h3 Just Another Bot
        p
          | RainBot is really just another IRC bot. However this one is made in node.js! It is currently being
          | used as the unofficial, official bot of #Neverfree! It does not do much right now, but a lot of development
          | has been going into it!      
            
        h3 Why RainBot?
        p
          | It really started as something for fun rather than for something that was needed. That being said, I can't
          | really find a good reason to tell you to use RainBot. All I can say is that RainBot will continue to be
          | worked on for quite some time, and there is quite a bit of cool features planned. I guess support for the bot
          | would be another reason to use it. if you ever have troubles, issues, complaints, ideas, compliments, insults
          | or whatever it might be, please do message me on IRC or find me in #Neverfree, I'd be most happy!
        
        a(class='anchor', href='#notes-on-development'): h2 Notes on Development
        p
          | RainBot has received a major update to 2.1.42! If you don't want to read the long ass changelog, then here's
          | a brief summary of what's new. Command nesting is a thing now, so you can pass output of commands to others.
          | Modules now implement the module class, and have their own response handler. Core has been heavily reworked.
          | That's pretty much 2.1.42 in a nutshell. As far as new commands and modules go, not much was done. Development
          | is currently steered at database management and website integration, so more of behind the scenes stuff has been
          | happening.
        p
          | As with the last build, 2.1.42 has been pushed to github, and if you're a fellow programmer, I encourage you to
          | check it out. Any and all feedback would be appreciated.
          
        a(class='anchor', href='#what\'s-next'): h2 What's next for RainBot?
        ul
          li Second revision of modules to be done. With the new class handlers added, optimizations of listener firings are available
          li Fix Database module
          li Add a test library for more convenient testing
          li Hot swapping of code for modules (So I don't have to reconnect and disconnect to irc everytime I change one line of code)
          li Continue to work on website
          li Switch from Codio to Cloud9
          li Start work on helper bot, Ori
          
        h2 Goals and Priorities for RainBot
        
        h3 Priorities from most to least important
        ul Make forecast a stable module so we can start computing stats!
          li Development of a plugin handler for RainBot in order to integrate website with RainBot
          li Create a test suite to allow for easier and better testing
          li Find a better way to fire modules by using asynchronous methods (instead of one by one firing)
      
        h3 Goals (Not currently being worked on, but is planned)
        ul
          li Pastebin integration
          li More random social triggers
          li A more nicer looking website
          li A website that is actually implemented well
          li Mail service
          li Reminders
          li Parse user modes
        
        strong If you have feature requests, or want to use the RainBot for your own channel, pm or find me in #Neverfree
