extends _main

block content
  content#Home.container
    section.container
      text#page-text.wrapper
        .wrapper
          img(src='images/rainbot.png', alt='RainBot')
        h1 RainBot
        p  A multi-purpose, extensible IRC bot written with node.js
